*{
    padding: 0;
    margin: 0;
}
html, body {
    font-family: Arial, sans-serif;
    height: 100vh;
}
.body-container {
  width: 100%;
  height:100vh;
  border-collapse:collapse;
  display : table;
}

.header {
  position: fixed;
  background-color: rgba(0, 10, 49, 0.8) !important;
}

.container-header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-bottom-color: transparent;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  align-items: center;
  height: 80px;
}

.logo > img {
  max-width: 100%;
  height: 40px;
}

.navegation {
  display: flex;
}
.navegation > h1 {
  opacity: 0.9;
  color: #EEE;
  padding: 4px 14px 1px;
}

.page-title {
  background-image: url("https://i.picsum.photos/id/1056/3988/2720.jpg?hmac=qX6hO_75zxeYI7C-1TOspJ0_bRDbYInBwYeoy_z_h08");
  background-size: cover;
  max-width: 100%;
  height: 30vh;
}

#assinatura {
  color: #1ABC9C;
}

.container-form {
  max-width: 100%;
}

form  input {
  margin-top: 20px;
  height: 36px;
  border: none;
  box-shadow: none;
  padding: 0 5px;
  border: solid 1px #bebebe;
  border-radius: 3px;
  outline: none;
}

form > tr {
  background-color: #000A31;
  display: flex;
}

form > button {
  height: 36px;
  border-radius: 3px;
  border: none;
  padding: 0 12px;
  margin: 0 5px;
  min-width: 100px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  background-color: #50c86e;
  color: #fff;
}

form > button:active {
 opacity: 0.8;
}

form > section {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: end;
  padding: 20px;
  grid-gap: 10px;
}

.checkbox {
  grid-column-start: 1;
  grid-column-end: 1;
}

footer {
    height: 30vh;
    display : table-row;
    vertical-align : bottom;
}

.container-footer {
    background-color: #000A31;
    height: 30vh;
}

/* h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  } */
  
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .button:hover {
    background: #06D85F;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
  }

  .popup .content {
    margin-top: 10px;
    max-height: 30%;
    overflow: auto;
  }